{
    "presets": [
        [
            "@babel/preset-typescript",
            {
                "useBuiltIns": "usage",
                "corejs": "3",
                "targets": {
                    "browsers": [
                        "last 5 versions",
                        "ie >= 8"
                    ]
                }
            }
        ]
    ],
    "sourceMaps": true
}