# version: '3.8'

services:
  game-server-dev:
    build:
      context: .
      target: dev
    ports:
      - "0.0.0.0:3001:3001"
    environment:
      - NODE_ENV=development
      - MONGODB_URI=mongodb://mongo:27017/gamedb
      - REDIS_URL=redis://redis:6379
      - PORT_NUMBER=3001
    depends_on:
      - mongo
      - redis
      - redisinsight
    restart: unless-stopped

  game-server-prod:
    build:
      context: .
      target: prod
    ports:
      - "0.0.0.0:3001:3001"
    environment:
      - NODE_ENV=production
      - MONGODB_URI=mongodb://mongo:27017/gamedb
      - REDIS_URL=redis://redis:6379
      - PORT_NUMBER=3001
    depends_on:
      - mongo
      - redis
    restart: always

  mongo: # x breaking, x.x security, x.x.x locked
    image: mongo:8.2
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

  redis:
    image: redis:8.4
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped

  redisinsight:
    image: redis/redisinsight:latest
    ports:
      - "5540:5540"
    restart: unless-stopped

volumes:
  mongo_data:
  redis_data: