html, body {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#canvas {
    border: 1px solid black;
    width: 500px;
    height: 500px;
}

#lobby-controls {
    display: flex;
    justify-content: space-between;
}

#game-controls {
    display: flex;
    justify-content: space-between;
    & #vavorCounter {
        height: 35px;
        width: 75px;
        font-size: large;
    }
}

.control-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    width: 500px;
}
button, select {
    font-size: large;
    height: 40px;
}

.test {
    background-color: red;
}
