html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Custom', 'monospace';
    display: flex;
    flex-direction: column;
}

.navbar {
    height: 50px;
    width: 100%;
    padding: 5px;
    display: flex;

    & button {
        line-height: 5px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: "Custom";
    src: url("/Laila-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Custom";
    src: url("/Laila-SemiBold.ttf");
    font-weight: bold;
}

#logout {
    cursor: pointer;
}