html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: 'Custom', 'monospace';

    padding: 0px;
    display: flex;
    flex-direction: column;
}

.navbar {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    padding: 5px;
    display: flex;
    justify-content: center;

    & button {
        line-height: 5px;
    }
}

.content {
    margin-top: 50px;
    width: 100%;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

@font-face {
    font-family: "Custom";
    src: url("/Laila-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Custom";
    src: url("/Laila-SemiBold.ttf");
    font-weight: bold;
}

#logout {
    cursor: pointer;
}