html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Custom', 'monospace';
}

@font-face {
    font-family: "Custom";
    src: url("/Laila-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Custom";
    src: url("/Laila-SemiBold.ttf");
    font-weight: bold;
}

#logout {
    cursor: pointer;
}