/* html, body {
    position: fixed;
    overflow:hidden;
} */

#canvas {
    width: 100%;
    height: 100%;
    max-height: 500px;
    max-width: 1200px;
    max-height: 500px;
    aspect-ratio: 1200 / 500;
    flex-shrink: 0;
}
@media (max-width: 805px) {
    #canvas {
        max-width: 600px;
        max-height: 1000px;
        aspect-ratio: 600 / 1000;
    }
}

.control-row {
    display: flex;
    height: auto;
    width: auto;
}

button {
    font-size: large;
    user-select: none;
    -webkit-user-select: none;
}

#chatRoom {
    flex: 1;
    width: 100%;
    max-width: 1200px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
    & #chatMessages {
        flex: 1;
        overflow-y: auto;
        /* height: 100%; */
    }
    & #inputLine {
        flex-shrink: 0;
        height: 50px;

        display: flex;
        justify-content: space-between;
        align-items: left;
        & input {
            font-size: large;
            height: auto;
            width: auto;
        }
        & button {
            height: auto;
            width: 100px;
        }
    }
}
