

#canvas {
    width: 100%;
    max-height: 500px;
    max-width: 1200px;
    max-height: 500px;
    aspect-ratio: 1200 / 500;
    flex-shrink: 0;
}

#chatPop {
    visibility: hidden;
    opacity: 1;
    transition: opacity 0.5s ease-out;
    position: fixed;
    z-index: 100;
    width: 100%;
    max-width: 100vw;
    height: 50px;
    background: darkblue;
}

#chatPop.hidden {
    opacity: 0;
}

#chatRoom {
    flex-shrink: 1;
    height: auto;
    width: 100%;
    max-width: 1200px;

    display: flex;
    flex-direction: column;

    & #chatMessages {
        height: 150px;
        overflow-y: scroll;
    }

    & #inputLine {
        flex-shrink: 0;
        height: 30px;

        display: flex;
        justify-content: space-between;
        align-items: left;

        & input {
            flex: 1;
            font-size: large;
            height: auto;
            /* width: 100%; */
        }

        & button {
            line-height: 3px;
        }
    }
}

@media (max-width: 805px) {
    #canvas {
        max-width: 600px;
        max-height: 1000px;
        aspect-ratio: 600 / 1000;
    }
    #chatMessages {
        height: 300px;
    }
}

#info {
    height: 20px;
    font-size: small;
}