html, body {
    position: fixed;
}

#canvas {
    width: 100%;
    max-width: 1200px;
}

.control-row {
    display: flex;
    height: auto;
    width: auto;
}

button, select {
    font-size: large;
    user-select: none;
    -webkit-user-select: none;
}

input {
    font-size: large;
    width: 100px;
}

#chatRoom {
    width: 100%;
    max-width: 1200px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5px;
    & #chatMessages {
        overflow-y: auto;
        height: 100px;
    }
    & #inputLine {
        display: flex;
        justify-content: space-between;
        align-items: left;
        & input {
            height: 50px;
            width: 100%;
        }
        & button {
            height: 50px;
            width: 100px;
        }
    }
}


