html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Custom', 'monospace';
}

#formbox {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 300px;
    & .form {
        grid-area: 1/1;
    }
}

#switch-link {
    text-align: center;
    cursor: pointer;
}
