.pips {
    display: flex;
    height: auto;
    & div {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        margin-left: 5px;
        border: 1px solid rgba(0, 0, 0, 0.3);
    }
    & .active {
        background-color:chartreuse;
    }
    & .dormant {
        background-color:brown;
    }
}
.your_turn {
    font-weight: 600;
    color:deeppink
}
.dormant {
    font-weight: 100;
}
.active {
    font-weight: 600;
}

/* narrowing */
@media (max-width: 805px) {
    .update, .status {
        display: none;
    }
}
@media (max-width: 505px) {
    .players {
        display: none;
    }
}