.players {
    display: flex;
    height: auto;
    & div {
        width: 10px;
        height: 10px;
        border-radius: 5px;
        margin-left: 5px;
    }
    & .active {
        background-color:chartreuse;
    }
    & .dormant {
        background-color:brown;
    }
}
.your_turn {
    font-weight: 600;
    color:deeppink
}
.dormant {
    font-weight: 100;
}
.active {
    font-weight: 600;
}

#logout {
    cursor: pointer;
}