html, body {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 22, 41);
}

#canvas {
    border: 1px solid white;
    width: auto;
    height: auto;
}

.control-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 750px;
}

button, select {
    font-size: large;
    height: 40px;
    user-select: none;
}

input {
    font-size: large;
    height: 34px;
    width: 100px;
}

#info {
    color: aliceblue;
}

.test {
    background-color: red;
}
